

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#nav-bar {
    background-color: #F7F8FA;
    padding: 0.7rem 2rem;
    overflow: hidden;
}

.nav-logo a {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    text-transform: uppercase;
    color: #4C5C87;
    font-size: 1.5rem;
}
.nav-items a {
    color: #999999;
    text-decoration: none;
}

.nav-items a:hover {
    text-decoration: none;
    color: #D2CFCB;
}
#nav-bar ul {
    list-style: none;  
    margin: 0; 
    vertical-align: middle; 
}

.nav-logo {
    display: inline-block;
    font-size: 1.3rem;
}

.nav-items {
    float: right;
    margin-right: 2rem;
    line-height: 1.5rem;

}

.nav-items ul {
    display: inline-block;
    padding: 0;
}

.nav-items ul li {
    float: left;
    padding-right: 2.5rem; 
}

header {
    min-width: 200px;
    text-align: center;
}

.transparent {
    background-image: url(https://github.com/dpb7/Product-Landing-Page/blob/master/img/nathan-fertig-271363-unsplash.jpg?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    opacity: 0.5;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* .onTop {
    padding: 0 50px;
    position: relative;
    top: -375px;
    
    color: #4C5C87;
} */

h1 {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    font-size: 5rem;
}

header > p {
    line-height: 1.5;
    margin-bottom: 50px;
}

.btn {
    width: 150px;
    padding: 15px 25px;
    background-color: #4C5C87;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.1rem;
}

.main {
    text-align: center;
}

@media (max-width: 1000px) {
    .nav-logo {
        display: block;
    }

    .nav-logo ul {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 900px) {
   
    .nav-items {
        float: none;
        text-align: center;
        margin: 0;
    }

    .nav-items ul {
        width: 100%;
        padding: 0;
    }
    .nav-items ul li {
        float: none;
        padding: 0;
    }

}

@media (max-width: 700px) {
    .onTop {
        top: -450px;
    }

    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    header > p {
        margin-bottom: 80px;
    }

    #nav-bar {
        padding-bottom: 0;
    }
    .nav-logo {
        visibility: hidden;
    }
    
    .nav-items {
        position: relative;
        top: -25px;
    }
}
