
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: #4C5C87;
}

#nav-bar {
    background-color: #F7F8FA;
    padding: 0.7rem 2rem;
    overflow: hidden;
    left: 0;
    right: 0;
}

.nav-logo a {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    text-transform: uppercase;
    color: #4C5C87;
    font-size: 1.5rem;
}

.nav-items a {
    color: #999999;
    text-decoration: none;
}

.nav-items a:hover {
    text-decoration: none;
    color: #D2CFCB;
}
#nav-bar ul {
    list-style: none;  
    margin: 0; 
    vertical-align: middle; 
}

.nav-logo {
    display: inline-block;
    font-size: 1.3rem;
}

.nav-items {
    float: right;
    margin-right: 2rem;
    line-height: 1.5rem;

}

.nav-items ul {
    display: inline-block;
    padding: 0;
}

.nav-items ul li {
    float: left;
    padding-right: 2.5rem; 
}

header {
    min-width: 200px;
    text-align: center;
}

.image {
    background-image: url(https://github.com/dpb7/Product-Landing-Page/blob/master/img/nathan-fertig-271363-unsplash.jpg?raw=true);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 665px;
    opacity: 0.5;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

}

.showcase {
    color: #4C5C87; 
    z-index: 2;
    height: 665px;
    
    
}

h1 {
    margin: 0;
    
    padding-top: 7rem;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    font-size: 5rem;
}

.showcase p {
    margin-top: 2rem;
    margin-bottom: 6rem;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}

.btn {
    width: 150px;
    padding: 15px 25px;
    background-color: #4C5C87;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.1rem;
}

.wrapper {
    margin-top: 8rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-self: center;
    margin-top: 5rem;
    background-color: #F4F7FB;
    padding: 8rem 5rem;
    
}

.main {
    height: 400px;
    margin-right: 2rem;
    grid-area: "main";
    
}

.main h3 {
    margin-top: 0;
}

.main-photo {
    background-image: url(https://images.unsplash.com/photo-1492707317997-96ae440f1878?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f18c224dba7a1aa0a9fbfe4370157c30&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: "main-area";
    min-height: 300px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}




.section { 
    display: grid;
    grid-template-columns: repeat(3, 1fr 3fr);
    grid-gap: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
   
 }


 
 .icon {
     margin: 0 10px;
     position: relative;
     top: 10px;

 }




.pro-icon {
    grid-area: "pro-icon";
}
.sup-icon {
    grid-area: "sup-icon";
}
.pow-icon {
    grid-area: "pow-icon";
}

.pro-head {
    grid-area: "pro-head";
}
.sup-head {
    grid-area: "sup-head";
}
.pow-head {
    grid-area: "pow-head";
}




 .heading h3 {
     margin: 0;
 }

 

 footer {
    height: 50px;
   
    background-color: #fff;
    text-align: center;

 }

 

@media (max-width: 1000px) {
    .nav-logo {
        display: block;
    }

    .nav-logo ul {
        text-align: center;
        padding: 0;
    }

    .section { 
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        "pro-icon"
        "pro-head"
        "sup-icon"
        "sup-head"
        "pow-icon"
        "pow-head"
    }

    .icon {
        margin: 0 10px;
        position: static;
    }
}






@media (max-width: 900px) {
   
    .nav-items {
        float: none;
        text-align: center;
        margin: 0;
    }

    .nav-items ul {
        width: 100%;
        padding: 0;
    }
    .nav-items ul li {
        float: none;
        padding: 0;
    }
    .image {
        top: 9rem;
    }
    h1 {
        padding-top: 5rem;
        font-size: 3rem;
    }

    .showcase p {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

}





@media (max-width: 700px) {
    h1 {
        padding-top: 8rem;
        font-size: 2.5rem;
    }
    .showcase p {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    #nav-bar {
        padding-bottom: 0;
    }
    .nav-logo {
        visibility: hidden;
    }
    
    .nav-items {
        position: relative;
        top: -25px;
    }

    .wrapper {
        margin-top: 1rem;
    }

    

    .about {
        text-align: center;
        padding-bottom: 8rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main"
        "main-photo";
    }

    .main {
        margin-right: 0;
        max-height: 325px;
        
    }

    .main-photo {
        margin-top: 100px;
    }

   
}




